.card {
    border: 2px solid #b1252520;
    display: inline-block;
    width: 250px;
    background-color: #d30202;
    margin: 20px;
    border-radius: 0 0 25px 25px;
    max-height: 600px;
}

.card img {
    width: 100%;
    height: 100%;
}

.card svg {
    margin: 20px;
    cursor: pointer;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.description {
    font-size: 18px;
    font-weight: 600;
    color:rgb(104, 104, 98);
}
.title{
    color:black;
    text-align: center;
    -webkit-text-stroke:0.5px white;
}
